$primarycolor: hsl(171, 66% , 44%);
$primarySecondColor: hsl(233, 100% , 69%);
$neutralPrimaryColor: hsl(210, 10% , 33%);
$neutralSecondaryColor: hsl(210, 11% , 66%);




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1024px){
        @content;
    }
}




@mixin media-sml {
    @media screen and (max-width: 480px){
        @content;
    }
}

