.first-footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 

    &--name{

        h1{
            color: $neutralPrimaryColor;
            text-align: center;
            margin: 200px 0 50px 0;
            font-size: 45px;

        }
        h2{
            color: $neutralSecondaryColor;
            text-align: center;
            font-size: 18px;
            line-height: 2;
            
        }   
       
    }

    .first-footer__btn{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        @extend .home__btn;
    }
}