.introduction{

    &__header{
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
        width: 50%;

        h1{
            color: $neutralPrimaryColor;
        }
        h2{
            color: $neutralSecondaryColor;
            font-size: 18px;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        
        img{
            width: 100%;
        }
        
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 5rem;
        h3{
            color: hsl(210, 10% , 33%);
        }    
        
        p{
            color: hsl(210, 11% , 66%);
            line-height: 1.5;
            font-size: 15px;

        
            
        }

        
    }
    
}