@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@import './config';
@import './home';
@import './introduction';
@import './access';
@import './workflow';
@import './firstFooter';
@import './footer';
@import './responsive';

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    
}



main{
    width: 100%;
}