@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  background: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.home__container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__header--name {
  font-size: 2rem;
  color: #4c545d;
  margin: 50px 0 20px 0;
}

.home h2 {
  color: #9fa8b2;
}

.home__btn, .first-footer__container .first-footer__btn {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 50px;
  text-align: center;
}

.home__btn .ios, .first-footer__container .first-footer__btn .ios {
  width: 200px;
  height: 50px;
  border: none;
  background: #26baa4;
  border-radius: 50px;
  color: #fff;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__btn .ios:hover, .first-footer__container .first-footer__btn .ios:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__btn .mac, .first-footer__container .first-footer__btn .mac {
  width: 200px;
  height: 50px;
  border: none;
  background: #6173ff;
  border-radius: 50px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__btn .mac:hover, .first-footer__container .first-footer__btn .mac:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.introduction__header {
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  width: 50%;
}

.introduction__header h1 {
  color: #4c545d;
}

.introduction__header h2 {
  color: #9fa8b2;
  font-size: 18px;
}

.introduction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.introduction__container img {
  width: 100%;
}

.introduction__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  padding: 5rem;
}

.introduction__text h3 {
  color: #4c545d;
}

.introduction__text p {
  color: #9fa8b2;
  line-height: 1.5;
  font-size: 15px;
}

.access__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.access__container .access__header {
  text-align: center;
  margin-bottom: 100px;
}

.access__container .access__header h1 {
  color: #4c545d;
  margin-bottom: 20px;
}

.access__container .access__header h2 {
  color: #9fa8b2;
  font-size: 18px;
  line-height: 2;
}

.access__container .access__image img {
  width: 100%;
}

.workflow__company {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  padding: 0 5rem 0 5rem;
  justify-items: center;
  margin-top: 200px;
}

.workflow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workflow__container .workflow__header {
  text-align: center;
}

.workflow__container .workflow__header h1 {
  color: #4c545d;
  margin-bottom: 20px;
}

.workflow__container .workflow__header h2 {
  color: #9fa8b2;
  font-size: 18px;
  line-height: 2;
}

.workflow__container .workflow__snippets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 70%;
  grid-gap: 6rem;
  margin-top: 100px;
}

.workflow__container .workflow__snippets h2 {
  color: #4c545d;
  text-align: center;
  margin-bottom: 30px;
}

.workflow__container .workflow__snippets p {
  color: #9fa8b2;
  line-height: 2;
}

.workflow__container .workflow__snippets img {
  display: block;
  margin: 0  auto 50px auto;
}

.first-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-footer__container--name h1 {
  color: #4c545d;
  text-align: center;
  margin: 200px 0 50px 0;
  font-size: 45px;
}

.first-footer__container--name h2 {
  color: #9fa8b2;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

.first-footer__container .first-footer__btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.footer__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E5E5E5;
  margin-top: 100px;
}

.footer__container--link ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem 5rem 2rem 5rem;
  grid-column-gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer__container--link ul a {
  color: #4c545d;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__container--link ul a:hover {
  color: #26baa4;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__container--link ul li {
  margin-bottom: 30px;
}

.footer__container--logo {
  margin: 50px;
}

.footer__container---social i {
  margin-left: 20px;
  font-size: 30px;
  color: #4c545d;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__container---social i:hover {
  color: #26baa4;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (max-width: 768px) {
  .introduction__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction__header {
    width: 100%;
    padding: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .home__btn, .first-footer__container .first-footer__btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin-bottom: 150px;
  }
  .footer__container--link ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

main {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */